* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    background-color: gray;

}

nav>a {
    background-color: transparent;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 0;
    color: black;
    font-weight: bold;
}

div {
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid white;
}


div:nth-child(odd) {
    background-color: rgb(161, 153, 153);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav>a {
        font-size: 1rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}